@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --orange:#ff7800;
    --black:#130f40;
    --light-color:#fff;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border: 2rem solid rgba(0,0,0,.1);
     --outline: 1rem solid rgba(0,0,0,.1);
     --outline: 1rem solid rgba(0,0,0,.1);
      --outline-hover: 2rem solid var(--black);

}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding:0;
    box-sizing:border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all 2s linear;
    
    
}
html{
    font-size:62.5% ;
    overflow: auto;
    scroll-behavior:smooth ;
    scroll-padding-top:7rem ;
}
body{
    background:#fff;
}
section{
    padding:2rem 9%;

    
}
.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}
.heading span{
background: var(--orange);
color: #fff;
display: inline-block;
padding: 0.2rem 3rem;
clip-path: polygon(100% 0,90% 50%,100% 99%,0 100%,7% 50%,0% 0%);
}
.btn{
    margin-top: 1rem;
    display:inline-block ;
    padding: 1rem 2rem;
    font-size:1.1rem ;
    border-radius:.2rem ;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
}
.btn:hover{
    background: var(--orange);
    color:#fff;
}
.header{
    position:fixed;
    left:0; right:0;top:0;
    z-index: 10000;
    display:flex;
    padding: 2rem 9%;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: var(--box-shadow);
}
.logo{
    font-size:3rem;
    font-weight: bolder;
    color:var(--black);
}
.header.logo.i{
    color:var(--green)
}
.navbar a{
    font-size: 1.3rem;
    margin: 0 1 rem;
    color:var (--black);
    padding-left: .7rem;
}
.navbar a:hover{
    color:var(--orange);
}
.icons div{
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    border-radius: .5rem;
    background:#fff;
    margin-left: .3rem;
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
    text-align: center;

}
.icons div:hover{
    background:var(--orange);
    color:#fff;
}

.header  .search-form{
    position: absolute;
    top:110%;right:-120%;
    width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}
.header  .search-form.active{
    right: 2rem;
    transition: 4s linear;

}
.header  .search-form input{
    height: 100%;
    width: 100%;
    text-transform: none;
    background: none;
    font-size: 1.6rem;
    padding: 0 1.5rem;
    color: var(--black);
}
.header  .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
 .search-form label:hover{
    color: var(--orange);
}
.header .shopping-cart{
    position: absolute;
    right :-110%;
    top:110%;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    width:36rem;
    background: #fff;
}
.header  .shopping-cart.active{
    right: 2rem;
    transition: 4s linear;
}
 .box{
    display:flex;
    align-items: center;
    gap:1rem;
    position: relative;
    margin: 1rem 0;
}
.box img{
    height: 10rem;

}
.fa-trash {
    font-size:2rem ;
    position:absolute ;
    top:50%;
    right:2rem;
    cursor:pointer;
   color: grey;
    transform:translate(-50%);
}
.header.shopping-cart.box.fa-trash :hover{
    color:var(--orange);
}
.header.shopping-cart.box.content h3{
    color:var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}
.header.shopping-cart.box.content span{
    color:var(--light-color);
    font-size: 1.6rem;
    
}
.quantity{
 padding-left: 1rem;
}
.total{
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
    

}
.btn{
    display: block;
    text-align: center;
    margin: 1rem ;
}
.login-form{
    position: absolute;
    top:110%;
    right: -80%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;

}
.login-form.active{
    right: 2rem;
    transition: 4s linear;

}

h3{
    font-size:2.5rem ;
    text-transform:uppercase;
    color: var(--black);
}
.glass{
    text-align: center;
    padding: -1.9rem;
     border-radius: .3rem;
     box-shadow: var(--box-shadow);
     border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
    width: 10rem;
    margin: 1rem 0;
}
.glass:hover{
    background: var(--orange);

    }

.apple{
    width: 100%;
    margin:1rem 0 ;
    background: #eee;
    border-radius: .4rem;
    padding: 1rem;
    font-size:1.6rem ;
    color:var(--black) ;
    text-transform: none;



}
.login-form p{
    font-size:1.4rem ;
    padding: 1rem 0;
    color:grey;
}
.login-form p a{
    color:var(--orange);
    text-decoration:underline;
}
.home{
    display:flex;
    align-items: center;
    justify-content:center;
    background-image:url(https://media.istockphoto.com/id/1369825135/photo/recyclable-shopping-bag-with-fruits-and-vegetables-on-white-table.jpg?s=612x612&w=is&k=20&c=P0-UQPTfjeBfNspl8mcT3RPNwZK1rw0iQ9BBA-Npwkw=);
    background-position: center;
    background-size:cover;
    padding-top:17rem;
    padding-left: 10rem;

}
.content{
    text-align: center;
    width: 60rem;

}
 .iiu{
    color: var(--black);
    font-size: 2rem;
    padding-left: 2px;
    
}

.hht{
    color: var(--orange);
    padding-left: 4px;
    padding-right: 4px;
}
.chi{
    
    margin-top: 2rem;
    display:inline-block ;
    padding: 0.4rem 3rem;
    font-size:1.0rem ;
    border-radius:2rem ;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
    
}
.chi:hover{
    background-color: var(--orange);
}
.content{
color: var(--light-color);
font-size: 1.7rem;
padding: 1rem 0;
line-height: 1.8;
}

.box{
    padding: 3rem 2rem;
    background: #fff;
    
    
    text-align: center;
}
.products{
    padding: 0.5rem;
}
.product-slider:first-child{
    margin-bottom: 2rem;
}
 .products.product-slider .box{
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 0.1rem 1rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
}
.products.product-slider .box:hover{
     outline-offset: 0rem;
    outline: var(--outline-hover);
}
.lai{
    
    text-align: center;
     
    margin:1rem 0 ;
    background:#fff;
    border-radius: .4rem;
    padding: 1rem;
   
    color:var(--black) ;
    text-transform: none;
    border: .2rem solid grey;
     
}
.products.product-slider .box img{
    height: 20rem;
}

.price{
    font-size: 2rem;
    padding: 1rem 0;
    color:darkslategray;
}
.stars i{
    font-size:1.7rem ;
    color: var(--orange);
    padding: .2rem 0;

}
.ffi{
    font-size: 2rem;

}
 .nay{
    display:grid;
    grid-template-columns: (auto-fit,minmax(26rem,1 fr));
    gap:1.5rem;
}


.icons{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: var(--border);
    gap:inherit;
}
.shoon{
    
    text-align: center;
     
    margin:1rem 0 ;
    background:#fff;
    border-radius: .4rem;
    padding: 0.5rem;
   
    color:var(--black) ;
    text-transform: none;
    border: 1rem solid grey;
     
}
.icons a{
color:var(--light-color);
font-size: 1.5rem;
}
.icons a i{
    color:var(--orange);
    padding-right: .5rem;
}
.content{
    padding: 2rem;
}

 













  
    
  
   @media (max-width:991px){
     */ media queries*/
    html{
        font-size:55%;
    }
        .header{
            padding: 2rem;
        }
    section{
    padding:2rem ;

    
}

   }

   
   @media (max-width:768px){
    #menu.btn{
        display: inline-block;
    }
    .header.search-form{
        width: 90%;
    }
 
   .navbar{
    position: absolute;
    top:110%;right:-110%;
    width: 20rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background: #fff;

   }
   .navbar.active{
     right: 2rem;
    transition: 4s linear;

   }
   .navbar a{
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
   }
    }
   

   @media (max-width:450px){
 
    html{
        font-size: 50%;
    }
   }
   .heading{
    font-size: 2.5rem;
   }














