#container{
    background-color:blanchedalmond;
    height:450px;
    width:300px;
    border-radius:8px;
    position:relative;
    top:100px;
    left:40%;
}
.screen{
    background-color:darkgrey;
    width: 270px;
    height:60px;
    position: relative;
    top:20px;
    left:15px;
    border-radius: 15px;

}
.screen input{
    position: relative;
    left:1px;
    top:0.5px;
    height: 56px;
    width:266px;
    color:black;
    background-color:#4c5852;
    font-size: 25px;
    text-align: right;
    border-radius: 15px;
}
.btns{
 position:relative;
    top:30px;
    left:15px;
}
.button{
    width:40px;
    height:30px;
    border:none;
    border-radius: 7px;
    margin-left: 10px;
    cursor: pointer;
}
.button.black{
    color:white;
    background-color: black;
    border-bottom: 2px solid #647489;
    border-top: 2px black;
}
.button.silver{
    color:white;
    background-color:darkslategrey;
    border-bottom: 2px solid black;

}
.button.red{
    color:white;
    background-color: red;
    border-bottom: 2px solid #647489;
}
p{
    line-height: 30px;
}
