@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* *{
padding:0;
margin: 0;
box-sizing: border-box;
}*/
body{
    font-family: 'Poppins', sans-serif;
}
.header{
  width:80%;
  height:95vh ;
  /*border: 1px solid #000;*/
  margin: auto;
}
.navbar{
    width: 95%;
    height: 7%;
   /* border: 1px solid black;*/
    margin: auto;
    display: flex;
align-items: center;
justify-content: space-between;
}
.navbar ul{
    list-style: none;
   
    display: flex;

}
.navbar ul li{
   padding: 3px 15px;

}
.navbar ul li:nth-last-child(1){
background: #000;
border-radius: 20px;
padding: 5px 20px;


}
.navbar ul li:nth-last-child(1) a{
color: #fff;


}
.navbar ul li a{
   text-decoration: none;
   color: #121213;
   font-size: 13px;
   font-weight:500 ;
   transition: .3s linear ;

}
.navbar ul li a:hover{
 
   color:gray;
  
}
.bi-three-dots{
  display: none;  
}
header .content{
position: relative;
width: 100%;
height: 93%;
/*border:1px solid black ;*/
}
header .content::before{
content:'' ;
position: absolute;
width: 100%;
height: 80%;
/* border: 1px solid #000; */
background: url(https://images.pexels.com/photos/1831271/pexels-photo-1831271.jpeg)no-repeat center center/cover;
border-radius: 10px;
z-index: -1;
}
header .content .cont_bx{
    width: 500px;
    height: auto;
    color: #fff;
    padding: 30px;
}
header .content .cont_bx h1{
   line-height: 40px;
   font-weight:800 ;
  
 /*  border: 1px solid #000; */
}
header .content .cont_bx h1 p{
    font-size: 14px;
    font-weight: 400;
    color:rgb(255, 254, 254)
}
header .content .cont_bx button{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #000;
    background: #000;
    color: #fff;
outline: none;
cursor: pointer;
transition: .3s linear;
}
header .content .cont_bx button:hover{
    background:rgb(113,113,113);
    border: 2px solid rgb(113,113,113);
}
header .trip_bx{
    position: relative;
    width: 95%;
    height:auto;
    margin: auto;
   /* border: 1px solid #000; */
}
header .trip_bx .search_bx{
    position: absolute;
    top:0;
    left:0;
    width:80%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius:5px ;
    box-shadow: 0px 10px 25px rgb(114,114,114);
    z-index: 1;
    padding: 10px 20px;
}

header .trip_bx .search_bx .card{
    width: 200px;
    height: 100%;
    row-gap: 10px;
    padding-left: 60px;
    /*border: 1px solid #000; */
    

}
header .trip_bx .search_bx .card svg{
  padding-top: 3px;
}

header .trip_bx .search_bx .card h4{
    font-size: 15px;
   margin: 0;
    font-weight: 700;
}
header .trip_bx .search_bx .card h4  .bi{
 position: absolute; 
 font-size: 13px;
 margin:2px 0px 0px 5px;
 transition: .3s linear;
}
header .trip_bx .search_bx .card input{
    margin-top: 3px;
    padding: 5px 0px;
    border: none;
    outline: none;
    font-size: 13px;
}
header .trip_bx .search_bx input[type="button"]{
background: #000;
color: #fff;
border: none;
outline: none;
padding: 10px 20px;
border-radius: 20px;
transition: .3s linear;
cursor: pointer;
}
header .trip_bx .search_bx input[type="button"]:hover{
    background: gray;
}
header .trip_bx .travel_bx{
    position: relative;
    width: 100%;
    height:auto;
    margin: auto;
    top:30px;
  /*  background: #000;*/
   /* border: 1px solid #000;*/
    border-radius: 10px;
    padding-bottom:20px;
     box-shadow: 0px 20px 25px -10px rgb(165,165,165);
}
header .trip_bx   .travel_bx::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgb(241,241,241, .7);
    backdrop-filter: blur(5px);
    z-index: -1;
    
}
 header .trip_bx .travel_bx h4{
    margin: 0;
    padding: 60px 0px 15px 1.7%;


 }
 header .trip_bx .travel_bx .cards{
   width: 95%;
   height: auto;
   margin: 0 auto;
  /* border: 1px solid #000;*/
   display: flex;
   align-items: center;
   justify-content: space-between;

 }
 header .trip_bx .travel_bx .cards .card{
    width: 220px;
    height: 180px;
   /* border: 1px solid #000;*/
 }
  header .trip_bx .travel_bx .cards .card h3{
    margin:0px 0px 10px 0px;
   align-items: center;
text-align: center;
display: flex;
font-size: 16px;
font-weight: 600;
  }
   header .trip_bx .travel_bx .cards .card h3 img{
    width: 20px;
    height: 20px;
    margin-left: 5px;
   }
   header .trip_bx .travel_bx .cards .card img{
    width: 100%;
    height: 50%;
   }
   header .trip_bx .travel_bx .cards .card .btn_city{
    display: flex;
    align-items: center;
    justify-content: space-between;
   /* border: 1px solid #000;*/

   }
    header .trip_bx .travel_bx .cards .card .btn_city a{
   text-decoration: none;
   background:#000 ;
   color:#fff ;
   border-radius: 20px;
   padding:6px 20px ;
   font-size: 11px;
   transition: .3s linear;
    }
       header .trip_bx .travel_bx .cards .card .btn_city a:hover{
  background: gray;

    }
    
      header .trip_bx .travel_bx .cards .card .btn_city h5{
 font-size: 11px;
 font-weight: 500;
 margin: 0;
 margin-top: 5px;
 line-height:15px ;
   }
  header .trip_bx .travel_bx .cards .card .btn_city h5 span{
 font-size: 13px;
 font-weight: 700;

 
   }
  .offers{
    width: 60%;
    height: auto;
    /*border: 1px solid #000;*/
    margin: auto;
    margin-top: 100px;
    transition: .5s linear;

   }
   
   .offers h1{
    font-weight:600 ;
    text-align: center;
    margin: 0;

   }
    .offers p{
    font-weight:500 ;
    text-align: center;
    margin: 0;
}
 .offers .cards{
    margin-top: 20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
   /* border: 1px solid #000;*/
    flex-wrap: wrap;

 }
  .offers .cards .card{
    position: relative;
    width: 200px;
    height: 350px;
    /* border: 1px solid #000;*/
     margin: 10px;
  }
    .offers .cards .card h3{
        width: 140px;
     padding: 6px 0px;
     background: rgb(165, 243,165);
     border-radius:20px ;
     font-size: 12px;
     display: grid;
     place-items: center;
     margin: auto;

 }
.offers .cards .card .img_text{
    position: relative;
    width:100% ;
    height:250px ;
    margin-top: 5px;
}
.offers .cards .card .img_text img{
    position: relative;
    width:100% ;
    height:100% ;
    border-radius: 10px 10px 0px 0px;

   
}
.offers .cards .card .img_text h4{
   position: absolute;
   font-size: 9px;
   padding: 10px 15px;
   bottom:0;
   margin:0 ;
   color:#fff;
   z-index: 2;
}
.offers .cards .card .img_text h4::before {
  content: '';
  position: absolute;
  width:100% ;
  height: 100%;
  background:rgb(255,255,255,.1) ;
  backdrop-filter: blur(5px);
  z-index: -1;
  bottom: 0;
  left: 0;
}
.offers .cards .card .cont_bx{
 width: 99%;
 display: flex;
 align-items:center ;
 justify-content: space-between;
 border: 1px solid rgb(196, 196, 196);
 padding:5px 0px ;
border-radius: 0px 0px 5px 5px;
}
.offers .cards .card .cont_bx .price , .days{
 margin: 0px 8px;
}
.offers .cards .card .cont_bx .price , .days{
 margin: 0px 8px;
}
.offers .cards .card .cont_bx .price .heart_chart{
   display: flex; 
   align-items: center;
}
 .heart_chart svg:nth-child(1){
  color: red;
  font-size: 7px;
  margin-right:5px ;
}
 .heart_chart svg span{
  color:#000;
  font-size: 12px;
  margin-left:5px ;
  font-style: normal;
}
 .bi-chat-dots-fill{
  color:rgb(112,196,229);
  font-size:7px;
  margin-right: 9px ;
}
.offers .cards .card .cont_bx .price .info_price{
    display: flex;
    align-items: center;
    margin-top: 3px;

}
.offers .cards .card .cont_bx .price .info_price a{
   text-decoration: none;
   color: #000;
   font-weight: 700;
   font-size:11px ;
   transition: .3s linear;
   margin-right: 13px;
}
.offers .cards .card .cont_bx .price .info_price a:hover{
   color:gray;
}
.offers .cards .card .cont_bx .price .info_price h4{
margin: 0;
font-size: 13px;
}
.offers .cards .card .cont_bx .dayes{
color: #fff;
background: #000;
font-size: 8px;
border-radius: 50%;
padding: 10px;
text-align: center;
cursor: pointer;
transition: .3s linear;
}
.offers .cards .card .cont_bx .dayes:hover{
    color: gray;
    transform:rotate(360deg);

}
.destination{
    width:45%;
    height: auto;
    /*border: 1px solid #000;*/
    margin: auto;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content:center;
}
.destination .des_bx , .img_bx{
position: relative;
width: 50%;
height: auto;
/*border: 1px solid #000;*/
}
.destination .des_bx h4{
    margin: 0;
    font-size: 20px;
    color: #000;
    line-height: 10px;
    letter-spacing: 1px;
}
.destination .des_bx p{
  font-size: 12px;
}
.destination .des_bx li{
 list-style-type: none;
 padding:0px 0px 8px 0px ;
 font-size: 12px;
 font-weight: 500;
}
.destination .des_bx h6{
 width: 250px;
 font-size: 12px;
 font-weight: 500;
 margin:20px 0px ;
}
.destination .des_bx button{
 font-size: 12px;
 padding: 8px 15px;
 border-radius: 20px;
background: #000;
color: #fff;
border: 2px solid #000;
cursor: pointer;
transition: .3s linear;
}

.destination .des_bx button:hover{
background: gray;
border: 2px solid gray;
}
.img_bx img{

    width: 100%;
    height:420px ;
    border-radius: 5px;
}
.msg{
position: absolute;
top:50%;
left:-10%;
width: 187px;
height: 50px;
background-color: #fff;
box-shadow: 0px 5px 20px gray;
display: flex;
align-items: center;
padding: 0px 10px;
border-radius: 5px;
}
.msg2 {
position: absolute;
top:50%;
left:-10%;
width: 187px;
height: 50px;
background-color: #fff;
box-shadow: 0px 5px 20px gray;
display: flex;
align-items: center;
padding: 0px 10px;
border-radius: 5px;
}

.msg img{

width: 30px;
height: 55%;

}
.msg .cont{
margin-left: 15px;
}
.msg .cont h4{
margin:0;
font-size: 15px;
font-weight: 500;
}
.msg .cont .bi-heart-fill{
color: red;
margin-right: 5px;
font-size: 9px;
}
.msg .cont .bi-heart-fill svg span{
    font-style: normal;
    margin-left: -3px;
    font-size: 3px;
    color: gray;
}

.msg .cont  .bi-chat-dots-fill{
   color:rgb(112,196,229);
  font-size:5px;
  margin-right: 13px ;  
}

.msg2 {
position: absolute;
top: 50px;
left:200px;
width: 187px;
height: 50px;
background-color: #fff;
box-shadow: 0px 5px 20px gray;
display: flex;
align-items: center;
padding: 0px 10px;
border-radius: 5px;
}
.msg2 img{

width: 30px;
height: 55%;

}
.msg2 .cont{
margin-left: 15px;
}
.msg2 .cont h4{
margin:0;
font-size: 15px;
font-weight: 500;
}
.msg2 .cont .bi-heart-fill{
color: red;
margin-right: 5px;
font-size: 9px;
}
.msg2 .cont .bi-heart-fill svg span{
    font-style: normal;
    margin-left: -3px;
    font-size: 3px;
    color: gray;
}

.msg2 .cont  .bi-chat-dots-fill{
   color:rgb(112,196,229);
  font-size:5px;
  margin-right: 13px ;  
}
footer{
   width: 100%;
   height: auto;
   background: rgb(249,249,255); 
   margin: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
footer h2{
text-align: center;
margin: 0;
margin-top: 25px;
line-height:30px ;
font-weight: 600;
}
footer p{
text-align: center;
width: 400px;
font-size: 13px;
}
 .input{
box-shadow: 0px 3px 20px -1px gray;
border-radius: 20px;
}
.input input{
padding: 10px 20px;
border: none;
outline: none;
font-size: 12px;
border-radius:20px 0px 0px 20px;
}
.input button{
padding: 12px 15px;
border: none;
outline: none;
font-size: 12px;
border-radius:0px 20px 20px 0px;
background: #000;
color: #fff;
cursor: pointer;
transition: .3s linear;
}
 .input button:hover{
background: gray;
}
footer ul{
    list-style: none;
    display: flex;
   /* align-items: center;*/
    margin-top: 30px;
}
footer ul li{
 align-items: center;
    margin-right: 30px;
    font-weight: bold;
}
footer ul li h6{
 font-size: 11px;
    font-weight:600;
    max-width: 120px;
    margin: 0;
    line-height: 18px;
    border-top: 1px solid #000;
    padding-top: 3px;
}
